<head>
    <div class="container">
      <h1>Sistema de Agua Potable y Saneamiento de Sombrerete, Zacatecas.</h1>    
      <p>Número telefónico <mark>433 935 0072</mark></p>
      <p>Dirección <mark>Ex Hacienda Grande #24, Centro, 99100 Sombrerete, Zac.</mark></p>
      <p>Horario de atención<mark>Lunes-Viernes 09:00-15:00</mark> <mark>Sabádo y domingo-cerrado</mark></p>
      <p class="text-blue-200 mb-2">Visita nuestra página de
      <a href="https://www.facebook.com/SiapasSombrerete" target= "_blank" real="nofollow noopener
    noreferrer"> <mark>Facebook</mark></p>
    </div>
    </body>
    </html>