<head>
  <h1>Sistema de Agua Potable y Saneamiento de Sombrerete, Zacatecas.</h1>    
    <p>Número telefónico <mark>433 935 0072.</mark></p>
    <p>Dirección <mark>Ex Hacienda Grande #24, Centro, 99100 Sombrerete, Zac.</mark></p>
    <p>Horario de atención<mark>Lunes-Viernes 09:00-15:00.</mark> <mark>Sabádo y Domingo-Cerrado.</mark></p>
    <p class="text-blue-200 mb-2">Visita nuestra página de
    <a href="https://www.facebook.com/SiapasSombrerete" target= "_blank" real="nofollow noopener
    noreferrer"> <mark>Facebook.</mark></p>
    <p class="text-blue-200 mb-2">Nos interesa conocer tu opinión. Ayudanos respondiendo esta
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScoksqzY6ReqbCbpbH4nMB83x7R_5S8_v872a9PQ5EDM-uqQw/viewform?usp=sf_link" target= "_blank" real="nofollow noopener
    noreferrer"> <mark>Encuesta.</mark></p>
</div>
</body>
</html>