<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
    background-image: linear-gradient(to right,#1e90ff , #1e90ff );
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIAPAS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="view/Datos.html">SIAPAS</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="view/index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="view/MiQueja.html">Mi Queja</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="view/Loguin.html">Soy Administrador</a>
                  </li>
                </ul>
                <div>
                  <img width="60px" height="60px" src="img/imagenagua.jpg" class="float-right">
                </div>
              </div>
            </div>
          </nav>
    </div>
    <div id="app">
      <div id="main">
        <!-- Formulario -->
        <form method="POST" action="/MiQueja/admin">
          
          <!-- Nombre completo -->
          <div class="col-md-6">
            <label for="Nombre" class="form-label"><strong>Nombre completo</strong></label>
            <textarea class="form-control" name="Nombre" id="Nombre" rows="1"></textarea>
            <!-- <textarea class="form-control" id="Name" ></textarea> -->
          </div>
      
          <!-- Dirección -->
          <div class="col-md-6">
            <label for="Direccion" class="form-label"><strong>Calle</strong></label>
            <textarea class="form-control" name="Dirección" id="Dirección" rows="1"></textarea>
            <!-- <textarea class="form-control" id="Dirección" ></textarea> -->
          </div>
      
          <!-- Colonia -->
          <div class="col-md-6">
            <label for="Colonia" class="form-label"><strong>Colonia</strong></label>
            <textarea class="form-control" name="Colonia" id="Colonia" rows="1"></textarea>
            <!-- <textarea class="form-control" id="Colonia" ></textarea> -->
          </div>
      
          <!-- Teléfono -->
          <div class="col-md-4">
            <label for="Telefono" class="form-label"><strong>Teléfono</strong></label>
            <textarea class="form-control" name="Telefono" id="Telefono" rows="1"></textarea>
            <!-- <textarea class="form-control" id="Telefono" ></textarea> -->
          </div>
      
          <!-- Descripción -->
          <div class="col-md-6"> 
            <label for="Descripción" class="form-label"><strong>Descripción(Reporte o sugerencia)</strong></label>
            <textarea class="form-control" id="Descripción"  rows="3"></textarea>
          
            <!-- <textarea class="form-control" id="Descripción" ></textarea> -->
          </div>
      
          <!-- BOTON ENVIAR -->
          <div class="col-auto mt-3">
            <button type="submit" class="btn btn-light mb-4 ml-auto">Enviar</button>
          </div>
      
      </form>
      </div>
  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script ></script>
</body>
</html>